body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono";
    color: #f7ffe5;
    background-image: url(../public/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav, a {
    text-decoration: none;
    border: none;
    color: #f7ffe5;
    font-size: 1em;
}

a:hover {
    color: #e1ecc8;
}

form {
    max-width: 50%;
    margin: 0 auto;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
}

label span {
    font-weight: bold;
    margin: 0;
}

input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #858484;
    padding: 10px;
    background-color: transparent;
}

.btnForm {
    align-items: center;
    background-color: green;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 25px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}