body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono";
    color: #f7ffe5;
    background-color: #a0c49d;
}

form {
    max-width: 50%;
    margin: 0 auto;
    background-color: #F7FFE5;
    color: #a0c49d;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label span {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 80px;
}

input {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 10px;
    border: #C4D7B2 solid 2px;
}

form a {
    color: #a0c49d;
    text-decoration: underline;
    font-weight: bold;
}

form a:hover {
    color: #C4D7B2;
}

.btnForm {
    color: #f7ffe5;
    margin: 30px;
    align-items: center;
    background-color: #a0c49d;
    text-align: center;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border: none;
    font-weight: bold;
    border-radius: 2em;
}

.btnForm:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-2px);
}

.btnForm:active {
    box-shadow: none;
    transform: translateY(0);
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 5px;
    border-radius: 5px;
  }